@font-face {
    font-family: 'Lemon Milk';
    src: url('../../font/LemonMilklight.otf');
  }
  
  @font-face {
    font-family: 'Century Gothic';
    src: url('../../font/GOTHIC.TTF');
    font-weight: 400;
  }
  
  @font-face {
    font-family: 'Century Gothic';
    src: url('../../font/GOTHICB0.TTF');
    font-weight: 700;
  }
  
  @font-face {
    font-family: 'Gotham';
    src: url('../../font/gothammedium.otf');
  }
  